body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    color: gold;
}

button {
    padding:10px 20px;
    font-size: 16px;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: gold;
    color: black;
}

.match-card {
    background: #222;
    border: 2px solid gold;
    padding: 10px;
    margin: 15px auto;
    width: 350px;
    border-radius: 10px;
    color: white;
}

.wrestlers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrestlers img {
    width: 80px;
    border-radius: 10px;
}